* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Flood Std";
  src: url("../Flood\ Std\ Regular.otf")
    format("opentype");
}

.header {
  display: flex;
  justify-content: space-between;
}
.navbar {
  padding: 1.25rem 0.625rem;
  display: flex;
  flex-direction: column;
}
.navbar .heading {
  font-size: 1.5rem;
  font-family: "Times New Roman", Times, serif;
}
.navbar a {
  text-decoration: none;
  font-size: 1.1rem;
  color: black;
}

.navbar button {
  background-color: aquamarine;
  color: rgb(21, 20, 69);
  font-size: 1.125rem;
  font-weight: 600;
  border-radius: 3.75rem;
  padding: 2%;
  border: none;
  transform: translateY(10%);
}

/* session 2 */
.container2 {
  padding: 10%;
  background-image: url("../assets/annie-spratt-135307-unsplash.png");
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10%;
  text-align: center;
  background-size: cover;
  background-position: 80%;
  align-items: center;
}
.container2 .content1 {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.container2 .stop {
  margin-bottom: 5%;
  font-family: "Flood std";
  color: white;
  font-size: 3.5rem;
  line-height: 1.12;
  text-align: start;
}

.container2 .content1 .issue {
  background-color: rgb(28, 16, 76);
  color: white;
  padding: 3%;
  font-size: 15px;
  align-self: center;
  transform: translateY(-50%);
}

.container2 .content1 .para {
  text-align: center;
  padding-left: 5%;
  padding-right: 10%;
  font-weight: 700;
  font-size: 1.25rem;
  font-family: "Lucida Sans", sans-serif;
}
.container2 .underlined {
  justify-content: space-around;
  padding: 2.2rem;
  text-decoration: underline;
  font-size: 1rem;
}

/* session-3 */
.container3 {
  height: 50vh;
  background-color: rgb(193, 247, 213);
  color: rgb(28, 16, 76);
  padding: 5%;
  display: grid;
  grid-template-rows: fr 1fr;
  gap: 10%;
  text-align: center;
}
.container3 .action {
  font-size: 1.25rem;
  background-color: rgb(28, 16, 76);
  color: white;
  width: fit-content;
  padding: 15px;
  transform: translateY(-95%);
  margin: auto;
}
.container3 .action-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5%;
  text-align: start;
  padding: 5%;
}
.container3 .learn-share {
  text-align: start;
  line-height: 23px;
  display: grid;
  grid-gap: 10%;
}
.container3 .vol-donate {
  display: grid;
  grid-gap: 10%;
  text-align: start;
  line-height: 23px;
}

/* what we do */

.container4 {
  background-color: rgb(53, 68, 99);
  height: auto;
  padding: 2rem;
  text-align: center;
  color: white;
}
.container4 .whatWeDo {
  background-color: white;
  font-family: komet, sans-serif;
  color: rgb(35, 28, 63);
  width: 40%;
  font-weight: 600;
  padding: 2%;
  margin-left: 25%;
}

.container4 .text {
  font-size: 1.5rem;
  font-family: komet, sans-serif;
  padding: 15px;
  margin: 10% 0%;
  font-weight: 700;
}
.container4 .first {
  background-color: white;
  color: black;
  padding-bottom: 2rem;
  margin-bottom: 5rem;
}
.container4 .cards img {
  width: 80%;
  height: 15rem;
  transform: translateY(-10%);
}
.container4 .cards h3 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.container4 .cards p {
  font-size: 1.2rem;
  font-family: Verdana, sans-serif;
  margin-bottom: 2rem;
  padding: 2rem;
}
.container4 .cards button {
  color: rgb(35, 28, 63);
  font-size: 1.125rem;
  font-weight: 600;
  background-color: #8decb4;
  margin-left: 0.5rem;
  border-radius: 3.75rem;
  border: none;
  padding: 3% 5% 3% 5%;
}
.container4 .second {
  background-color: white;
  color: black;
  padding-bottom: 2rem;
  margin-bottom: 5rem;
}
.container4 .third {
  background-color: white;
  color: black;
  padding-bottom: 2rem;
  margin-bottom: 5rem;
}

/* cliamte change part */

.container5 {
  /* height: 140vh; */
  background-image: url("../assets/did-you-know-background.png");
  display: flex;
  flex-direction: column;
  background-size: cover;
  position: relative;
  padding: 10%;
}
.container5 .climate {
  font-family: "flood std";
  font-size: 45px;
  padding-right: 15px;
  color: white;
}
.container5 button {
  font-size: 1.125rem;
  font-weight: 600;
  background-color: #8decb4;
  border-radius: 3.75rem;
  border: none;
  padding: 3% 5% 3% 5%;
  width: fit-content;
  margin-bottom: 2.5rem;
}
.container5 .didYouKnow {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.container5 .box {
  background-color: white;
  height: 160px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10%;
}
.container5 .box1 h1 {
  background-color: rgb(35, 28, 63);
  color: white;
  text-align: center;
  align-self: center;
  padding: 5px;
  font-weight: 600;
  font-size: 20px;
  position: relative;
  top: -15%;
}
.container5 .box .one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
}
.container5 .box .one .head1 {
  font-size: 30px;
  font-weight: 600;
  margin: 5px;
}
.container5 .box img {
  background-color: #8decb4;
  padding: 10px;
  margin-right: 3%;
  border-radius: 55%;
}
.container5 .box .two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
  margin-right: 10px;
}
.container5 .box .two .head2 {
  padding: 10px;
  font-size: 15px;
}
.container5 .box2 .two img {
  margin-right: 1%;
  height: 40px;
}
.container5 .box3 .two img {
  margin-right: 1%;
  height: 40px;
}
.container5 .box4 .two img {
  margin-right: 1%;
  height: 40px;
}
/* session6 */
.container6 {
  padding: 3rem;
  .top-container-6 {
    .title {
      background-color: rgb(35, 28, 63);
      color: white;
      width: fit-content;
      padding: 1rem 2rem;
      margin: auto;
      transform: translateY(50%);
    }
    .image {
      width: 100%;
    }
    margin-bottom: 3rem;
  }
  .bottom-container-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    .content {
      margin-bottom: 3rem;
      padding: 3rem;
      background-color: rgb(35, 28, 63);
      color: white;
      .heading {
        margin-bottom: 3rem;
      }
    }
    .button {
      margin: 0 auto;
      background-color: #8decb4;
      color: rgb(35, 28, 63);
      padding: 10px 15px;
      font-size: 1.2rem;
      font-weight: 700;
      border-radius: 3.75rem;
      border: none;
    }
  }
}

/* container7 */

.container7 {
  padding: 3rem;
  background-color: rgb(35, 28, 63);
  color: white;
  .section-heading {
    margin-bottom: 2rem;
    font-family: "flood std";
    font-size: 2rem;
    padding-right: 5%;
  }

  .cards {
    .card {
      .card-heading {
        background-color: white;
        color: rgb(35, 28, 63);
        width: fit-content;
        padding: 0.5rem 2rem;
        transform: translateY(50%);
        font-size: 1rem;
        margin: auto;
      }
      .image {
        width: 100%;
        margin-bottom: 2rem;
      }
      .content2 {
        .content-heading {
          margin-bottom: 2rem;
        }
        .button {
          margin-top: 3rem;
          background-color: #8decb4;
          color: rgb(35, 28, 63);
          padding: 10px 15px;
          font-size: 1.2rem;
          font-weight: 700;
          border-radius: 3.75rem;
          border: none;
          margin-bottom: 3rem;
        }
      }
    }
  }
}

/* subcribe */
.subcribe {
  height: 35vh;
  background-color: #8decb4;
  display: grid;
  grid-template-columns: 1fr;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
  gap: 10%;
}
.subcribe .subcribeContent {
  font-size: 32px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.subcribe .search-bar {
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 5%;
}
.subcribe .search {
  color: rgb(35, 28, 63);
  font-size: 1rem;
  font-weight: 6;
  background-color: white;
  border-radius: 3.75rem;
  border: none;
  padding: 3% 5% 3% 4%;
}

.subcribe .button {
  background-color: rgb(35, 28, 63);
  font-weight: 6;
  color: white;
  border-radius: 3.75rem;
  padding: 3% 5% 3% 4%;
}

/* footer */
.footer {
  display: flex;
  flex-direction: column;
  text-align: start;
}
.footer .footer1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer .footerHeading {
  font-size: 25px;
  font-weight: 600;
  margin: 15% 5% 5% 5%;
}

.footer .contact {
  margin-top: 13%;
  margin-right: 5%;
}

.footer .footer1 .contact h1 {
  font-size: 15px;
}

.footer .contact p {
  line-height: 1.5rem;
}

.footer .footer2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 15%;
  line-height: 1.5rem;
}

.footer .footer-foot {
  font-family: "flood std";
  font-size: 45px;
  align-self: flex-end;
  margin: 10%;
}

/* media queries */

@media (min-width: 1280px) {
  .navbar {
    flex-direction: row;
    .header {
      align-items: center;
      justify-content: start;
      flex-grow: 1;
      padding-left: 8%;
      padding-right: 8%;
    }
  }
  .navbar .header {
    gap: 5%;
  }
  .navbar .heading {
    font-size: 2rem;
  }
  .navbar .info {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
  }
  .navbar a {
    font-size: 1.5rem;
    color: black;
  }
  .navbar button {
    font-size: 1.5rem;
    padding-top: 1%;
    padding-bottom: 1%;
    margin:auto;
    /* margin-right: 5%; */
  }

  /* session 2 */
  .container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15%;
  }
  .container2 .content1 {
    order: -1;
    width: 80%;
    height: auto;
  }
  .container2 .content1 .para {
    text-align: start;
    font-size: 2rem;
    font-weight: 600;
    padding-left: 10%;
    font-family: "Lucida Sans", sans-serif;
  }
  .container2 .content1 .issue {
    font-size: 1.25rem;
    transform: translateY(-50%);
    margin-right: 35%;
  }
  .container2 .stop {
    font-size: 5rem;
    padding-left: 20%;
    padding-right: 25%;
    align-self: start;
  }
  .container2 .underlined {
    font-size: 1.3rem;
  }

  /* session 3 */
  .container3 {
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: start;
  }
  .container3 .action-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10%;
    font-size: 1.2rem;
    /* margin-bottom: 5rem; */
  }
  .container3 .action {
    justify-content: center;
    margin: auto;
    position: relative;
    bottom:20%;
  }

  /* seesion what we do */

  .container4 {
    padding: 10rem;
  }

  .container4 .whatWeDo {
    font-size: 1.8rem;
    margin-left:2%;
    width: max-content
  }
  .container4 .text {
    font-size: 4.5rem;
    /* padding-left:10%; */
  }
  .container4 .cards {
    display: flex;
    flex-direction: row;
    text-align: start;
    gap: 5rem;
    padding: 5%;
  }
  .container4 .cards .first img {
    position: relative;
    left: 30%;
    width: 75%;
    height: 250px;
  }
  .container4 .cards .second img {
    position: relative;
    left: 30%;
  }
  .container4 .cards .third img {
    position: relative;
    left: 30%;
    height: 300px;
  }
  .container4 .cards h3 {
    font-size: 2rem;
    padding-left: 10%;
  }
  .container4 .cards p {
    font-size: 1.5rem;
    padding-left: 10%;
  }
  .container4 .cards button {
    margin-left: 10%;
    font-size: 1.2rem;
  }

  /* seesion5 */
  .container5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
  }
  .container5 .climate {
    padding-right: 25px;
    font-size: 70px;
    padding: 5%;
  }
  .container5 button {
    font-size: 2rem;
  }
  .container5 .box {
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-top: 2px;

    margin-bottom: 10%;
  }
  .container5 .box .one .head1 {
    font-size: 40px;
    font-weight: 600;
    margin: 5px;
  }
  .container5 .box2 img {
    padding: 15px;
    margin-right: 1%;
    border-radius: 50%;
  }
  .container5 .box3 img {
    padding: 15px;
    margin-right: 1%;
    border-radius: 50%;
  }
  .container5 .box4 img {
    padding: 15px;
    margin-right: 1%;
    border-radius: 50%;
  }
  .container5 .box .two {
    margin-top: 2px;
    margin-right: 10px;
  }
  .container5 .box .two .head2 {
    padding: 10px;
    font-size: 25px;
  }
  .container5 .box .two img {
    margin-left: 1%;
    height: 60px;
  }
  .container5 .box .one img {
    margin-left: 1%;
    height: 50px;
  }

  /* session 6 */
  .container6 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .top-container-6 {
      order: 2;
    }
    .title {
      font-size: 2rem;
    }
    .bottom-container-6 {
      height: max-content;
      align-self: center;
      transform: translateX(10%);
      .button {
        margin-left: 0;
        font-size: 2rem;
      }
      p {
        font-size: 1rem;
      }
    }
  }

  /* session7 */
  .container7 {
    .section-heading{
      font-size: 5rem;
      padding:5%;
    }
    .cards {
      .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 4rem auto;
        .card-heading {
          transform: translateY(0%);
          margin-left: 0;
          font-size: 2rem;
        }
        
        .image {
          width: 90%;
          order: -1;
          grid-area: 1 / 1 / 3 / 2;
          margin-bottom: 10%;
        }
        .content2 {
          margin-top: 5rem;
          font-size: 2rem;
          padding-right: 10;
          .button{
            font-size: 2rem;
          }
          
        }
      }
      .card-2 {
        .image {
          justify-self: end;
          grid-area: 1 / 2 / 3 / 3;
        }
      }
    }
  }

  /* subscribe */
  .subcribe {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .subcribe .subcribeContent {
    font-size: 2.5rem;
    font-weight: 800;
  }
  .subcribe .search {
    font-size: 2rem;
  }
  .subcribe .button {
    font-size: 2rem;
  }

  /* footer */
  .footer {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    justify-content: start;
    padding-left: 2%;
    padding-bottom: 5%;
  }
    .footer a{
      color: black;
    }
  
  .footer-foot{
    position: relative;
    top:10%;
  }
}
